.csv-outer-container {
  text-align: center;
}

.csv-container {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
}

.csv-input {
  padding: 20px 30px 20px 100px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.csv-buttons {
  text-align: center;
  padding: 15px;
}

#csv-buttons-label {
  display: none;
  padding-bottom: 20px;
}