table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#match-table-label {
  display: block;
  padding: 20px;
}

#match_submit {
  margin: 0 0 20px;
}